  <section style="background:#efefe9;">
    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            <app-mwv-navbar></app-mwv-navbar>
            <!-- End Navigation Area (Circular Tabs) -->

            <!-- Content Area -->
            <div class="tab-content">
                <!-- Routed view  -->
                <router-outlet name='sub'></router-outlet>


            </div>
            <!-- End Content Area -->
        </div>
        <pre></pre>
    </div>
</section>
