.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 80%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  text-align: center;
  width: 100%;
}

.mat-column-monitoredData {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.75em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-hash {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.65em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-uri {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.65em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-proof {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.40em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-anchorId {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.75em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-verified {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.75em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-verifiedAt {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: rgb(30,30,35);
  text-align: center;
  font-size: 0.75em;
  font-weight: 50;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-header-cell {
  text-align: center;
}

a {
  cursor: pointer;
}
